$blue-color: #185a9d;
$green-color: #43cea2;

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

.bg-gradient {
  position: fixed;
  background: $green-color;
  background: -webkit-linear-gradient(290deg, $blue-color, $green-color);
  background: linear-gradient(290deg, $blue-color, $green-color);
  height: 100vh;
  width: 100%;
  z-index: -10;
}

header {
  font-size: 2rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #ffffff;
}

form button {
  width: 3rem;
  color: $green-color;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  color: #ffffff;
  background: $green-color;
}

button:disabled, button[disabled] { color: #666666; }

button:disabled:hover, button[disabled]:hover {
  cursor: not-allowed;
  background: #666666;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0 0.5rem 0.5rem 0.5rem;
  background: #ffffff;
  color: #000000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 50px;
  transition: all 0.5s ease;
}

.scalein {
  animation: scalein 0.5s forwards;
}

.todo li {
  flex: 1;
}

.delete-btn, .complete-btn {
  background: $green-color;
  color: #ffffff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.delete-btn {
  background: #ffa547;
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.squash {
  margin: 0 !important;
  height: 0;
}

select {
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: $green-color;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: $green-color;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: #ffffff;
  color: $green-color;
}

@keyframes scalein {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
